---
import Search from "@/components/Search";
import Navbar from "@/components/Navbar";
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import ListWebsites from "@/components/ListWebsites";
import ListTags from "@/components/ListTags";
import "@/styles/globals.css";
import { cn } from "@/lib/utils";
import { Globe } from "lucide-react";
import { Image } from "astro:assets";
import Logo from "../assets/banner.png";
---

<Layout>
  <main class="flex min-h-screen flex-col">
    <Navbar client:load />
    <section
      class="container z-10 mx-auto -mb-32 flex max-w-6xl flex-col px-4 py-16 md:px-8"
    >
      <div class="flex flex-col items-end gap-8 md:flex-row md:gap-16">
        <div class="col-span-2 flex flex-1 flex-col">
          <h1 class="mb-6 text-4xl leading-tight">
            <strong>SOLTRADINGBOTS</strong><br />
            <span class="font-light">Find Your Crypto Trading Tools</span>
            <br />
            <span class="pt-16 text-[14px] font-light md:pt-0 lg:pt-0">
              You can find all the trading and sniping guides on our reddit
              community :

              <span
                ><a
                  class="font-bold text-blue-300"
                  href="https://www.reddit.com/r/SolanaSniperBots/"
                  >r/soltradingbots</a
                ></span
              ></span
            >
          </h1>
          <Search client:load className="w-full" />
        </div>
        <div
          class="flex aspect-video w-auto max-w-full items-center justify-center rounded border bg-background shadow md:w-96 lg:w-96"
        >
          <span class="font-light text-muted-foreground"
            ><Image src={Logo} alt="A bird sitting on a nest of eggs." /></span
          >
        </div>
      </div>
    </section>
    <section
      class="to-red h-32 bg-gradient-to-b from-white to-muted dark:from-black dark:to-muted"
    >
    </section>
    <section class={cn("flex-1 bg-muted")}>
      <!-- new test section -->

      <!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

-->

      <main class="pb-16 pt-8 antialiased lg:pb-24 lg:pt-16">
        <div class="mx-auto flex max-w-screen-xl justify-between px-4">
          <article
            class="format format-sm sm:format-base lg:format-lg format-blue dark:format-invert mx-auto w-full max-w-2xl"
          >
            <header class="not-format mb-4 lg:mb-6">
              <address class="mb-6 flex items-center not-italic">
                <div
                  class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white"
                >
                  <img
                    class="mr-4 h-auto w-full"
                    src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-su4z1qrovade1.png?width=1280&format=png&auto=webp&s=ae163ea2f6b53b66f3ba13f57c8767258efacd14"
                    alt="photon-sol"
                  />
                </div>
              </address>
              <h1
                class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 dark:text-white lg:mb-6 lg:text-4xl"
              >
                2025 Guide: How to Make Money Trading Meme Coins on Solana
              </h1>
            </header>
            <p class="lead pb-8">
              A new year has come, and first thing is our mind is ... How I will
              make money trading meme coins in 2025 crypto cycle ? <br />

              This guide is an update of Last year guide: How To Make Money
              DAILY Trading Meme Coins [step by step].<br />

              This guide shows you how to make money trading meme coins every
              day ! Let trading bots do the work for you - no trading experience
              needed! I'll walk you through setting up your first trade on
              Solana, explaining everything in plain English. Whether you've got
              $100 or $10,000 to start with, you'll learn how to pick the right
              meme coin, set safe trading limits, and use Solana trading bot.<br
              />
            </p>
            <br />
            <h2 class="pb-4 pt-4 text-2xl font-bold">
              Step 1: Your Trading Tools
            </h2>
            <br />

            <p>
              First things first, you need the right tools to make your trading
              efficient and profitable. The core tool we’ll use is a web based
              trading platform, Photon-sol (if you want to learn more about
              photon-sol and in-depth guide - check our last post here). This
              bot allows you to perform trades quickly - secure, and you will
              have access to all the tools a trader needs on one platform. (and
              yeah is full free to use). Secondly - we’ll use SolSqueezer and
              DexScreener to analyze meme coins and find successful traders. <br
              />
              <br /> How to set up Photon on SOL Visit https://photon-sol.tinyastro.io/
              and connect with Phantom wallet:
            </p>
            <br />
            <br />
            <figure class="pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-llcvg5redbde1.png?width=1206&format=png&auto=webp&s=26418c14967119f3c5db6da5202f62daad6f5941"
                alt=""
              />
            </figure>
            <p>
              After you connect a wallet to Photon and login for the first time,
              you'll be greeted with the above welcome screen. Once you click on
              the Generate button, a new wallet will be generated for you. <br
              />
              <strong
                >Please note: Your private key will only be shown once! So make
                sure you copy it somewhere.
              </strong>
            </p>
            <br />
            <figure class="pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-im69ppehdbde1.png?width=1254&format=png&auto=webp&s=5351766fdc09f6c16b90d7747a0900b37e38547d"
                alt=""
              />
            </figure>
            <p>
              To ensure that we keep your account as secure as possible, the
              private key for your Photon trading wallet is only revealed to you
              only once. You'll need to use the slider to reveal the private
              key. <br />
              <strong
                >Please note: Your private key will only be shown once! So make
                sure you copy it somewhere.
              </strong>
            </p>
            <br />

            <figure class="pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-cprp1gujdbde1.png?width=1237&format=png&auto=webp&s=0cfb85aa1eac65c4562289cf8555bb89adde2787"
                alt=""
              />
            </figure>
            <p>
              <strong> Wallet Balance + Transfer Funds </strong>
              <br />You can see your wallet balance at the upper right-hand
              corner at all times, and you can click on it to get to the Funds
              Transfer page. <br />
            </p>
            <br />

            <figure class="pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-aisuk3cmdbde1.png?width=972&format=png&auto=webp&s=25f433b6c36c95a7188517bfdc4e1bb7045a0efa"
                alt=""
              />
            </figure>
            <p>
              Deposit: You can specify any SOL amount to deposit from your
              funding wallet to your Photon trading wallet. Once you click
              "Deposit", you'll be able to confirm and complete the transaction
              from your funding wallet. <br />
            </p>
            <br />

            <figure class="pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-4ihtpgfodbde1.png?width=1212&format=png&auto=webp&s=5ddc91a18f2891dcc9cc8c726b7b9ddffe4061ba"
                alt=""
              />
            </figure>

            <p>
              Withdraw: Input the amount of SOL and the wallet address that
              you'd like to withdraw the SOL to, and click on "Withdraw" <br />

              Now you have your photon trading bot set up, let's get started. <br
              />

              All the link you need from first step here : <br />
              <br />- Photon-sol web trading bot -
              https://photon-sol.tinyastro.io/ <br />
              <br />

              - SolSqueezer - https://t.me/solsqueezer_bot <br />
              <br />

              - DexScreener - https://dexscreener.com/ <br />
            </p>

            <br />
            <br />
            <h2 class="pb-4 pt-4 text-2xl font-bold">
              Step 2: Find Profitable Meme Coins to Trade
            </h2>
            <br />

            <p>
              Now that your trading bot is set up, it’s time to identify meme
              coins with high potential. To do this, we’ll use a website called
              DEX Screener combined with other Telegram bot called SolSqueezer.
              <br />
              These tools allow you to analyze meme coins and find the best traders
              to copy trade.
              <br />
              <br />
              1. Go to DEX Screener and select the Solana tab to filter meme coins
              that are traded on Solana (if you are trading Solana meme coins).
            </p>
            <br />
            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-ge791z4xdbde1.jpg?width=1100&format=pjpg&auto=webp&s=3363b02a56fcf34faf2c6e13fd8c0940c68cbfc2"
                alt=""
              />
            </figure>

            <p>
              2. Add custom filters such as $10,000 Market Cap, Pair Age 4 hours
              Max, 5M Volume around $15,000 — $20,000.
            </p>
            <br />
            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-feor90pydbde1.jpg?width=1100&format=pjpg&auto=webp&s=cf2530681a46ebb74a0e87d79a331035aa6fff45"
                alt=""
              />
            </figure>

            <p>
              Here are other DEX Screener filters that you can use:<br /><br />

              50K<br /><br />

              100K<br /><br />

              BOTTOMS AND DIPS<br /><br />

              ABOVE 3M<br /><br />

              3. Look for coins with a significant 24-hour price increase and
              reasonable liquidity. Coins with high price spikes but low
              liquidity are riskier, as traders may not be able to pull out
              profits.
            </p>
            <br />
            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-4c464631ebde1.jpg?width=1100&format=pjpg&auto=webp&s=8a13ede8a360b1ba9e30feb3964fdd1e4980c76e"
                alt=""
              />
            </figure>
            <p>
              Once you find a coin that looks promising, copy its contract
              address and plug it into the SolSqueezer bot. This will allow you
              to analyze the top traders in that coin’s market and decide
              whether it’s worth copy trading a wallet.
            </p>
            <br />
            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-nfd5e144ebde1.jpg?width=720&format=pjpg&auto=webp&s=846283299f7fcea979b51ae1bc32187225c9d99b"
                alt=""
              />
            </figure>

            <h2 class="pb-4 pt-4 text-2xl font-bold">
              List of Profitable wallets that I found
            </h2>
            <p>
              Different from the last year guide, I will share a lost of the
              profitable wallets that I found by myself, to make your work much
              easier and to have an example of wallets that work well : <br />

              <strong
                >PLEASE NOTE: These wallets buy meme coins every day that
                explode at 50–400x. But blindly copying them won’t make you
                rich. Learn to control your trading strategy, make research
                before buying, and don't lose money you can't afford !
              </strong><br /><br />
              1 | → 8Q3p7w5x1PXyy99kPxEsgrdkp1ExtCyUAzGeXGqMXL8E ✙ Last 30D PnL:
              +260.83% (+$1M) ✙ Win Rate: 61.29% Best trades: $GOAT $22k > $740k
              $SOLILOQUY $6.5k > $59.8k $SYDNEY $9.1k > $49.3k $FOREST $3.8k > $13.3k
              <br /><br />
              2 | → HWH5ufhjnPDUGcY9kF72EAGmP2KRHAL1vLLXuBK6sk8v ✙ Last 30D PnL:
              +33.63% (+$98.7K) ✙ Win Rate: 100% $MEW total profit: +$202.1K
              <br /><br />
              3 | → F798uRiw4eEZtqMHLDsJho9r7h8nhtmRSAaU64CMf5HV ✙ Last 30D PnL:
              +1310.39% (+$515.6K) ✙ Win Rate: 55.56% Best trades: $GOAT $9K → $886k
              $LSD $2K → $310K $GIKO $36K → $67K
              <br /><br />
              4 | → 4RdA9pordAbYrY3ZYT8zJdJTfHptbFxxsvQm7sJiXqgZ ✙ Last 30D PnL:
              +559.55% (+$1.3M) ✙ Win Rate: 66.67% Best trades: $GOAT $15.4k → $744.7K
              $MOODENG $281.34 → $454.7K $BIS h $2,880 → $85.8K
              <br /><br />
              5 | → HdxkiXqeN6qpK2YbG51W23QSWj3Yygc1eEk2zwmKJExp ✙ Last 30D PnL:
              +124.34% (+$1.8M) ✙ Win Rate: 28.67% Best trades: $GOAT $5.5k → $1.8M
              $SHEGEN $848 → $49k $CB $3k → $160k
              <br /><br />
              6 | → 3rSZJHysEk2ueFVovRLtZ8LGnQBMZGg96H2Q4jErspAF ✙ Last 30D PnL:
              +44.08% (+$906.7K) ✙ Win Rate: 58.62% Best trades: $Bacso $455,98 →
              +$82.9K $Shoko $424,72 → $23.5K
              <br /><br />
              7 | → AT6FsbUy1jNR2AHE35WCVh3nSdDtYADtdhA2KitQXmL5 ✙ Last 30D PnL:
              +22.89% (+$443.6K) ✙ Win Rate: 47.78% Best trades: $Bacso $4 615,23
              → $36.2K $BELLA $808,4 → $15K
              <br /><br />
              8 | → 4U7RCa8R7UZcNz3KUSexmrcMdFMd9WgQqqxb8rX7ffRB ✙ Last 30D PnL:
              +66.64% (+$206.3K) ✙ Win Rate: 35.92% Best trades: $Shoko $5 722,79
              → $58K $Magnet $8 683,98 → $122.8K
              <br /><br />
              9 | → DfMxre4cKmvogbLrPigxmibVTTQDuzjdXojWzjCXXhzj ✙ Last 30D PnL:
              +70.68% (+$681.6K) ✙ Win Rate: 86.13% Best trades: $TRATE $620 → $8,317
              $SHOKO $283 → $16,800
              <br /><br />
              You have everything you need for successful trading by copying Smart
              Wallet trades. Always remember your strategy and analyze memecoins
              before buying. DYOR.
            </p>

            <h2 class="pb-4 pt-4 text-2xl font-bold">
              Step 3: Start trading on Photon-sol
            </h2>
            <p>
              I've heard from many of you about struggling with copy trading on
              Solana – trust me, I get it! While copy trading sounds great in
              theory, those preset strategies aren't always the money-makers
              they claim to be. That's why I switched to Photon-sol trading
              platform, and it's been a game-changer for speed and security.<br
              /><br />

              Here's the thing about traditional Telegram-based trading bots on
              Solana: they're slow. Every time you set up a trade, the bot has
              to ping through Telegram's servers, connect to your wallet, and
              finally execute on-chain. Those precious seconds? They're costing
              you real profits in the fast-paced Solana DeFi space.<br /><br />

              That's where Photon-sol web-based platform shines. By connecting
              directly to Solana's high-speed network and integrating with DEXs
              like Raydium and Orca, you're getting near-instant trade
              execution. No more waiting for Telegram notifications or missing
              opportunities because of API delays.<br /><br />

              Plus, with their secure wallet integration system, you don't have
              to worry about sketchy permission requests or exposed private
              keys.<br /><br />
              Quick comparison that shocked me: <br /><br />Regular Telegram
              bots: 3–5 seconds per trade <br /><br />Photon-sol's direct
              execution: Sub-second trades
              <br /><br /> Standard copy trading: Limited to predefined strategies<br
              /><br />
              Photon-sol: Full control over your trading strategy <br /><br />
              <strong
                >Remember: in the world of Solana DeFi trading, speed equals
                profit. Every millisecond matters when you're trying to catch
                those juicy arbitrage opportunities between Jupiter and Raydium!</strong
              >
            </p>
            <br /><br />
            <h2 class="pb-4 pt-4 text-2xl font-bold">
              Before we start trading - Settings on Photon-sol
            </h2>

            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-kencjy1cebde1.png?width=1593&format=png&auto=webp&s=46428a145cda90249ca912b5659eb7df48dbe11f"
                alt=""
              />
            </figure>
            <p>
              Before every trade, it is important to set up your settings. You
              can get to the settings page by clicking on your avatar icon in
              the top right corner.<br /><br />

              Quick buy/Quick Sell This is where you'll be able to have full
              control over your trading experience For Buying and Selling, you
              have full control over the following settings: Slippage: how much
              more/less tokens you'll receive from a trade due to price
              volatility
              <br /><br />
              Example of slippage: Suppose you wanted to buy a $XYZ at US$10.00.
              You place your order, but when it's confirmed, you realize that it
              got filled at a higher price of US$10.50.
              <br /><br />
              This scenario is an example of negative slippage because you bought
              in at a higher price than you wanted to, which decreases your total
              buying power.
              <br /><br />
              Conversely, positive slippage occurs when you place a buy order at
              US$10.00 but the order is confirmed at a price of US$9.50. The lower
              price thereby increases your purchasing power.
              <br /><br />
              Priority Fee: This is the additional fee made to have your transaction
              completed faster. This fee is better known as a tip because it provides
              an economic incentive for Solana validators to confirm your transaction
              before others
              <br /><br />
              Bribe: This fee goes directly to the JITO validators to incentivize
              them to pick up and confirm your transactions.
              <br /><br />
              Trading Presets: You can set up to 3 different trading profiles (S1/S2/S3)
              to adjust your smart-mev protection, priority, bribe and slippage settings
              Once set up, from the buy menu on any token page, you'll be able to
              click on S1/S2/S3 to instantly switch between any one of your 3 trading
              presets, depending on the situation.
              <br /><br />
              For Auto-Buy - you can specify the % change in market cap for S1/S2/S3
              <br /><br />
              For Auto-Sell - you can specify the % change in market cap & the %
              of holdings you'd like to sell for S1/S2/S3
            </p>
            <br />
            <h2 class="pb-4 pt-4 text-2xl font-bold">
              Search / Trade on Photon-Sol
            </h2>
            <br />
            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-2wxqc4kfebde1.png?width=747&format=png&auto=webp&s=f2a94296f110933c486e1d07e4278de2f083ccee"
                alt=""
              />
            </figure>
            <br />
            <p>
              After you decided what token you want to buy from a top trader, or
              you found one by yourself, just drop the coin address into the
              search bar at the navigation bar.
              <br /><br />
              Ok we start trading here you have all the tools you need to make a
              successful trade .
              <br /><br />
              You have everything you need at the bottom of the chart:
              <br /><br />
              Transactions - see in real time all the transactions that are made
              on the token - you can filter them by your needs
              <br /><br />
              My holding - you can see your holding and stats about them
              <br /><br />
              Top Traders - you can see in real time all the top holders of the token
              you are trading
              <br /><br />
              Bubblemaps - you can search wallets and see in a more visual and detailed
              way the stats of the token
              <br /><br />
              Orders - you can see your limit orders and DCA that you setup
              <br /><br />
              Dev Token - you can see in real time the actions that were made by
              the dev of the token , so you can't get scammed easy
            </p>
            <br />
            <br />

            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-cy6fo3lpebde1.png?width=1225&format=png&auto=webp&s=40ff21dbdd6b5a90a0475d5407aa0ffa72135d7d"
                alt=""
              />
            </figure>
            <p>
              And third, you can use our target line. This one is a game-changer
              for all of the chart lovers out there. You can now execute your
              buy dip orders by visually selecting the target on the screen,
              allowing you to execute strategies based on resistance points and
              other metrics. All you have to do is drag, set and create order.
              Expiration Date: you can also specify when the order should expire
              if it doesn't execute within a certain time frame. Choose from
              24/28/72 hour time intervals After you click on Create Order,
              you’ll see all the detailed info show up under the new Orders tab
              as an active order.
            </p>
            <br />

            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-lv1eagyqebde1.png?width=2169&format=png&auto=webp&s=8d8ab9c4708c1797f3e2e0d968180575b5ca7dd7"
                alt=""
              />
            </figure>
            <p>
              You’ll see the token, the amount, the condition you set,
              price/market cap when the order was created, your target
              price/market cap, when the order was triggered at, status,
              slippage and priority fee.
              <br /><br />
              2 things to keep in mind: If you have a stop loss AND a take profit
              order set where your sell amount is 100% of your tokens, the moment
              that one of your orders successfully executes, the system will automatically
              cancel the other active order for you so you don’t need to manually
              delete it yourself.
              <br /><br />
              As with everything on Photon, you can adjust the priority fee and bribe
              for all limit orders. Make sure to set a sufficiently high Priority
              + Bribe amount - these 2 play a key role in being included in the block
              (if you set it too low, your limit order may not get in as early as
              possible)
            </p>

            <br />

            <figure class="h-auto w-auto pb-8">
              <img
                src="https://preview.redd.it/2025-guide-how-to-make-money-trading-meme-coins-on-solana-v0-ya9dnwhsebde1.png?width=492&format=png&auto=webp&s=4ebc9f0a28cd0d67a1bacbf2760a0925ab0275af"
                alt=""
              />
            </figure>
            <p>
              Moving on now to the limit sell orders:
              <br /><br />
              Stop Loss - again, you’ll have the 3 ways of setting the target price
              and market cap. Next, you’ll need to specify what percentage of your
              holdings you’d like to sell. Adjust your settings, then you’re done.
              <br /><br />
              Take Profit - select your target price/market cap, sell amount and
              done.
              <br /><br />

              Once you’ve set up your photon-sol settings , you can always go
              back and tweak the settings. Is important to create your own style
              of trading and make research before investing money.
            </p>

            <h2 class="pb-4 pt-4 text-2xl font-bold">Conclusion</h2>

            <p>
              By following this step-by-step guide, you can start making money
              daily trading meme coins. The combination of the photon-sol powers
              and speed makes it easier to make profitable trades, allowing you
              to grow your crypto portfolio with minimal effort.
              <br /><br />
              Remember, while trading meme coins can be highly profitable, it’s important
              to do your research and manage your risk carefully. Now that you know
              the basics, it’s time to start trading and making money daily with
              meme coins!
              <br /><br />
              Join Photon-Sol now - Weekly Jackpot - Leaderboard Competition - Airdrop
              Soon - Link here : https://photon-sol.tinyastro.io/
              <br /><br />
              All the link used in this guide :
              <br /><br />
              Photon-sol web trading bot - https://photon-sol.tinyastro.io/
              <br /><br />
              SolSqueezer - https://t.me/solsqueezer_bot
              <br /><br />
              DexScreener - https://dexscreener.com/
              <br /><br />
              **
              <br /><br />
              All of this informations and articles on the community are free for
              everyone, I couldn't do all of this without your support . I want to
              say thank you to everyone and hope things are going well. Stay safe,
              trade money that you can lose and focus up.
              <br /><br />
              If you enjoy my work and you want to support me you can donate here:
              <br /><br />
              SOL: AFRCe9EvjgNzb3EgFuuuJVU7tcypMdRojXT1i7K6RekE
              <br /><br />
              ETHER: 0x26fB31f9F593E2D75B382F11Eada02b3daaaC981
              <br /><br />
              Happy trading!
              <br /><br />
              **
            </p>
            <p>
              <strong>Get started now for free on photon-sol platform :</strong>
            </p>
            <br />
            <Button
              className="bg-blue-700 text-white hover:bg-white hover:text-black"
              ><a href="https://photon-sol.tinyastro.io/@ma004"
                ><p class="">Join Now Photon</p></a
              >
            </Button>
          </article>

          <!-- <aside
        aria-label="Related articles"
        class="bg-gray-50 py-8 dark:bg-gray-800 lg:py-24"
      >
        <div class="mx-auto max-w-screen-xl px-4">
          <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">
            Related articles
          </h2>
          <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
              <a href="#">
                <img
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png"
                  class="mb-5 rounded-lg"
                  alt="Image 1"
                />
              </a>
              <h2
                class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
              >
                <a href="#">Our first office</a>
              </h2>
              <p class="mb-4 text-gray-500 dark:text-gray-400">
                Over the past year, Volosoft has undergone many changes! After
                months of preparation.
              </p>
              <a
                href="#"
                class="text-primary-600 dark:text-primary-500 inline-flex items-center font-medium underline underline-offset-4 hover:no-underline"
              >
                Read in 2 minutes
              </a>
            </article>
            <article class="max-w-xs">
              <a href="#">
                <img
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png"
                  class="mb-5 rounded-lg"
                  alt="Image 2"
                />
              </a>
              <h2
                class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
              >
                <a href="#">Enterprise design tips</a>
              </h2>
              <p class="mb-4 text-gray-500 dark:text-gray-400">
                Over the past year, Volosoft has undergone many changes! After
                months of preparation.
              </p>
              <a
                href="#"
                class="text-primary-600 dark:text-primary-500 inline-flex items-center font-medium underline underline-offset-4 hover:no-underline"
              >
                Read in 12 minutes
              </a>
            </article>
            <article class="max-w-xs">
              <a href="#">
                <img
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-3.png"
                  class="mb-5 rounded-lg"
                  alt="Image 3"
                />
              </a>
              <h2
                class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
              >
                <a href="#">We partnered with Google</a>
              </h2>
              <p class="mb-4 text-gray-500 dark:text-gray-400">
                Over the past year, Volosoft has undergone many changes! After
                months of preparation.
              </p>
              <a
                href="#"
                class="text-primary-600 dark:text-primary-500 inline-flex items-center font-medium underline underline-offset-4 hover:no-underline"
              >
                Read in 8 minutes
              </a>
            </article>
            <article class="max-w-xs">
              <a href="#">
                <img
                  src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-4.png"
                  class="mb-5 rounded-lg"
                  alt="Image 4"
                />
              </a>
              <h2
                class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
              >
                <a href="#">Our first project with React</a>
              </h2>
              <p class="mb-4 text-gray-500 dark:text-gray-400">
                Over the past year, Volosoft has undergone many changes! After
                months of preparation.
              </p>
              <a
                href="#"
                class="text-primary-600 dark:text-primary-500 inline-flex items-center font-medium underline underline-offset-4 hover:no-underline"
              >
                Read in 4 minutes
              </a>
            </article>
          </div>
        </div>
      </aside> -->

          <!-- new test section -->
        </div>

        <footer class="pb-32 pt-4 md:pb-8 md:pt-8">
          <div class="container mx-auto px-4 text-sm md:px-0">
            <div
              class="flex flex-col-reverse items-center justify-between gap-2 md:flex-row"
            >
              <p class="text-muted-foreground">
                Brought to you by <a class="underline" href="" target="_blank"
                  >Soltradingbots</a
                >
              </p>
              <div class="flex items-center gap-1">
                <a href="hhttps://x.com/MitreaAndreiRa1" target="_blank">
                  <Button variant="ghost" size="icon">
                    <svg
                      role="img"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                    >
                      <title>X</title>
                      <path
                        d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
                      ></path>
                    </svg>
                  </Button>
                </a>

                <a
                  href="https://www.reddit.com/r/SolanaSniperBots/"
                  target="_blank"
                >
                  <Button variant="ghost" size="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-reddit"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M6.167 8a.83.83 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661m1.843 3.647c.315 0 1.403-.038 1.976-.611a.23.23 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83s.83-.381.83-.83a.831.831 0 0 0-1.66 0z"
                      ></path>
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.2.2 0 0 0-.153.028.2.2 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224q-.03.17-.029.353c0 1.795 2.091 3.256 4.669 3.256s4.668-1.451 4.668-3.256c0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165"
                      ></path>
                    </svg>
                  </Button>
                </a>
                <a
                  href="https://www.reddit.com/r/SolanaSniperBots/comments/1huuy3g/if_you_find_the_guides_helpful_you_can_support_me/"
                  target="_blank"
                >
                  <Button variant="ghost" size="icon">
                    <svg
                      role="img"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                    >
                      <title>Buy Me A Coffee</title>
                      <path
                        d="M20.216 6.415l-.132-.666c-.119-.598-.388-1.163-1.001-1.379-.197-.069-.42-.098-.57-.241-.152-.143-.196-.366-.231-.572-.065-.378-.125-.756-.192-1.133-.057-.325-.102-.69-.25-.987-.195-.4-.597-.634-.996-.788a5.723 5.723 0 00-.626-.194c-1-.263-2.05-.36-3.077-.416a25.834 25.834 0 00-3.7.062c-.915.083-1.88.184-2.75.5-.318.116-.646.256-.888.501-.297.302-.393.77-.177 1.146.154.267.415.456.692.58.36.162.737.284 1.123.366 1.075.238 2.189.331 3.287.37 1.218.05 2.437.01 3.65-.118.299-.033.598-.073.896-.119.352-.054.578-.513.474-.834-.124-.383-.457-.531-.834-.473-.466.074-.96.108-1.382.146-1.177.08-2.358.082-3.536.006a22.228 22.228 0 01-1.157-.107c-.086-.01-.18-.025-.258-.036-.243-.036-.484-.08-.724-.13-.111-.027-.111-.185 0-.212h.005c.277-.06.557-.108.838-.147h.002c.131-.009.263-.032.394-.048a25.076 25.076 0 013.426-.12c.674.019 1.347.067 2.017.144l.228.031c.267.04.533.088.798.145.392.085.895.113 1.07.542.055.137.08.288.111.431l.319 1.484a.237.237 0 01-.199.284h-.003c-.037.006-.075.01-.112.015a36.704 36.704 0 01-4.743.295 37.059 37.059 0 01-4.699-.304c-.14-.017-.293-.042-.417-.06-.326-.048-.649-.108-.973-.161-.393-.065-.768-.032-1.123.161-.29.16-.527.404-.675.701-.154.316-.199.66-.267 1-.069.34-.176.707-.135 1.056.087.753.613 1.365 1.37 1.502a39.69 39.69 0 0011.343.376.483.483 0 01.535.53l-.071.697-1.018 9.907c-.041.41-.047.832-.125 1.237-.122.637-.553 1.028-1.182 1.171-.577.131-1.165.2-1.756.205-.656.004-1.31-.025-1.966-.022-.699.004-1.556-.06-2.095-.58-.475-.458-.54-1.174-.605-1.793l-.731-7.013-.322-3.094c-.037-.351-.286-.695-.678-.678-.336.015-.718.3-.678.679l.228 2.185.949 9.112c.147 1.344 1.174 2.068 2.446 2.272.742.12 1.503.144 2.257.156.966.016 1.942.053 2.892-.122 1.408-.258 2.465-1.198 2.616-2.657.34-3.332.683-6.663 1.024-9.995l.215-2.087a.484.484 0 01.39-.426c.402-.078.787-.212 1.074-.518.455-.488.546-1.124.385-1.766zm-1.478.772c-.145.137-.363.201-.578.233-2.416.359-4.866.54-7.308.46-1.748-.06-3.477-.254-5.207-.498-.17-.024-.353-.055-.47-.18-.22-.236-.111-.71-.054-.995.052-.26.152-.609.463-.646.484-.057 1.046.148 1.526.22.577.088 1.156.159 1.737.212 2.48.226 5.002.19 7.472-.14.45-.06.899-.13 1.345-.21.399-.072.84-.206 1.08.206.166.281.188.657.162.974a.544.544 0 01-.169.364zm-6.159 3.9c-.862.37-1.84.788-3.109.788a5.884 5.884 0 01-1.569-.217l.877 9.004c.065.78.717 1.38 1.5 1.38 0 0 1.243.065 1.658.065.447 0 1.786-.065 1.786-.065.783 0 1.434-.6 1.499-1.38l.94-9.95a3.996 3.996 0 00-1.322-.238c-.826 0-1.491.284-2.26.613z"
                      ></path>
                    </svg>
                  </Button>
                </a>
              </div>
            </div>
          </div>
        </footer>
      </main>
    </section>
  </main>
</Layout>
